* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #020806;
  color: #efefef;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #efefef;
}

.container {
  width: 100%;
  max-width: 1832px;
  margin: 0 auto;
  padding: 0 0px;
}
